.article {
    background-color: $color3;
    text-align: left;
    margin: auto;
    padding: 5% 10% ;
};
.article h1, h2, h3, h4, h5, h6, p, ul, ol {
    color: $color1;
    flex-wrap: wrap;
    margin: 5px;
    padding: 4px 0px 8px;
    
};
// contains section text and secton-pic
.section{
    display: flex;
    flex-wrap: wrap; 
    flex-direction: row;
    margin: 10px 10px;
    clear: both;
    justify-content: space-evenly;

};
.section .text {
    width: 40%;
};
.section .section-pic {
    width: 40%
    
}
.section ul, ol{

    flex-direction: column;
    list-style-position: outside;
    margin-left: 20px;
    align-content: flex-start;

}
.section li{
    padding: 2px 0px
}
.inline-link{
    display:inline
}
img{
    width: 100%;
    height: auto;
    margin: 5% ;
};
//orients content vertically for smaller screens
@media (max-width: 850px){

    .article {
        display: flex;
        flex-direction: column;
    };
    .section .text{
        width:100%;
    };
    .section .section-pic{
        width:100%;
    };
    };
