.article {
    background-color: $color3;
    text-align: left;
    margin: auto;
    padding: 5% 10% ;
};
.article h1, h2, h3, h4, h5, h6, p, ul, li {
    color: $color1;
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    
};
.section{
    display: flex;
    flex-wrap: wrap; 
    flex-direction: row;
    margin: 10px 10px;
    clear: both;

};
.section .text {
    width: 40%;
};
.section .section-pic {
    width: 40%
    
}
.section ul{
    // flex:  ;
    flex-wrap: wrap;
    list-style-position: outside;
    margin-left: 20px;
    align-content: flex-start;
    //height: 60%;
    // border: solid 1px black;
}
img{
    width: 100%;
    height: auto;
    margin: 5% ;
};