.form-popup {
    display: none;
}

.form-popup h1, 
.form-popup label {
    color: $color1;
    text-align: center
}
.btn{
    color: $color2;
}
.form-field{
    padding: 1em;
    text-align: center;
}